<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotePadWF_CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <NotePadWF_CS.Properties.Settings>
            <setting name="MyLocation" serializeAs="String">
                <value>150, 150</value>
            </setting>
            <setting name="MyFont" serializeAs="String">
                <value>Consolas, 12pt</value>
            </setting>
            <setting name="MyStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyWordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MyTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MyBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MyAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MySize" serializeAs="String">
                <value>1200, 800</value>
            </setting>
            <setting name="MyLanguage" serializeAs="String">
                <value>Auto</value>
            </setting>
        </NotePadWF_CS.Properties.Settings>
    </userSettings>
</configuration>